<!doctype html>
<html>
<body>
        <!--{% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %} -->
      {% block content %}
      <div class="container">
          {% for message in get_flashed_messages() %}
          <div class="alert alert-warning">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{ message }}
          </div>
          {% endfor %}

          {% block page_content %}{% endblock %}
      </div>
      {% endblock %}

    <form method="post" action="/complete" enctype = "multipart/form-data">
            <div class="form-group">
                    <label>input_type</label>
                    <select class="form-control" id="align_method" name="align_method">
                        <option value="clustalw">clustalw</option>
                        <option value="mafft">mafft</option>
                        <option value="none" selected>none</option>
                    </select>
                    <select class="form-control" id="input_type" name="input_type">
                        <option value="nuc">nuc</option>
                        <option value="ami">ami</option>
                        <option value="none" selected>none</option>
                    </select>
                    <label>gapdel</label>
                    <select class="form-control" id="gapdel" name="gapdel">
                        <option value="comp">comp</option>
                        <option value="pair">pair</option>
                        <option value="none" selected>none</option>
                    </select>
                    <label>model</label>
                    <select class="form-control" id="model" name="model">
                        <option value="P-distance">P-distance</option>
                        <option value="JC">JC</option>
                        <option value="K2P">K2P</option>
                        <option value="none" selected>none</option>
                    </select>
                    <label>Plusgap</label>
                    <input type="checkbox" class="form-control" id="plusgap" name="plusgap">
                    <label>tree</label>
                    <select class="form-control" id="tree" name="tree">
                        <option value="nj">nj</option>
                        <option value="upgma">upgma</option>
                        <option value="none" selected>none</option>
                    </select>
                    <p>align_clw_opt <input type = "text" id="align_clw_opt" name = "align_clw_opt" /></p>
                    <input type = "file" id="file" name = "file" />
                    <p> <input type = "hidden" id="task_id" name = "task_id" value=""/></p>
                    <p> <input type = "hidden" id="flag" name = "flag" value="1"/></p>
            </div>
            <button type="submit" name="submit_button" value="calculate">Calculate</button>
            <button type="submit" name="submit_button" value="go_back">Go back</button>
    </form>

</html>