<!doctype html>
<html>
<body>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    <form method="post" action="/tree" enctype = "multipart/form-data">
            <div class="form-group">
                    <label>tree</label>
                    <select class="form-control" id="tree" name="tree">
                        <option value="nj">nj</option>
                        <option value="upgma">upgma</option>
                        <option value="none" selected>none</option>
                    </select>
                    <p>task ID <input type = "text" id="task_id" name = "task_id" /></p>
                    <label>Distance Matrix</label>
                    <input type = "file" id="file" name = "file" />
            </div>
            <button type="submit" name="submit_button" value="calculate">Calculate</button>
            <button type="submit" name="submit_button" value="go_back">Go back</button>
    </form>

</html>