.hr {
  display: inline-block;
}
.hr:after {
  content: '';
  display: block;
  border-top: 3px solid rgb(246, 8, 68);
  /* margin-top: 0.5em; */
}
.hr_thin:after {
  content: '';
  display: block;
  border-top: 2px solid rgb(246, 8, 68);
  /* margin-top: 0.5em; */
}

label, h1, h2, h3, h4, h5 {
  color: rgb(246, 8, 68);
  line-height: 10pt;
}