@import url('../../styles.css');
h2 {
  color: var(--light);
  padding-top: 2rem;
}

label {
  color: var(--light);
}

.messages-bg {
  background-image: url(../../assets/bg_darkgray.png);
  background-size: cover;
  background-position: top;
  padding: 6rem 0 4rem 0;
}

.form-group {
  margin: 0;
}

/* -- table -- */

table {
  table-layout: fixed;
  min-width: 650px;
}

thead {
  background-color: var(--light-opacity-02);
}

th {
  color: var(--light);
}

.th-number {
  width: 15%;
}

.th-time {
  width: 40%;
}

.th-status {
  width: 15%;
}

.th-result {
  width: 30%;
}

td {
  color: var(--light);
  background-color: var(--dark-opacity-03);
}

/* -- button -- */

/* button default */

.btn-tree,
.btn-tree.disabled,
.btn-tree:disabled {
  color: black;
  background-color: var(--light);
  border-color: var(--light);
}

.btn-view {
  color: var(--light);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn:focus {
  box-shadow: none;
}

.btn-download,
.btn-downloading {
  color: var(--color-primary);
  background-color: var(--light);
  border-color: var(--light);
  margin-left: 0.5rem;
}

.btn-clear,
.btn-clear.disabled,
.btn-clear:disabled {
  color: var(--light);
  background-color: var(--grey-2);
  border-color: var(--grey-2);
}

/* button hover */

.btn-view:hover {
  color: var(--light);
  background-color: var(--color-primary-75);
  border-color: var(--color-primary-75);
}

.btn-download:hover,
.btn-downloading:hover {
  color: var(--color-primary);
  background-color: var(--grey-0);
  border-color: var(--grey-0);
}

.btn-clear:hover {
  color: var(--light);
  background-color: var(--grey-1);
  border-color: var(--grey-1);
}

/* button disabled */

.btn-view.disabled,
.btn-view:disabled {
  color: var(--grey-0);
  background-color: var(--grey-2);
  border-color: var(--grey-2);
}

.btn-download.disabled,
.btn-download:disabled {
  color: var(--grey-0);
  background-color: var(--grey-2);
  border-color: var(--grey-2);
  margin-left: 0.5rem;
}

.btn-downloading.disabled,
.btn-downloading:disabled {
  color: var(--color-primary-75);
  background-color: var(--grey-0);
  border-color: var(--grey-0);
  margin-left: 0.5rem;
}

/* button active */

.btn-view:not(:disabled):not(.disabled):active,
.btn-view:not(:disabled):not(.disabled).active,
.show > .btn-view.dropdown-toggle {
  color: #fff;
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.btn-download:not(:disabled):not(.disabled):active,
.btn-download:not(:disabled):not(.disabled).active,
.show > .btn-download.dropdown-toggle {
  color: var(--color-primary);
  background-color: var(--grey-0);
  border-color: var(--grey-0);
}

.btn-clear:not(:disabled):not(.disabled):active,
.btn-clear:not(:disabled):not(.disabled).active,
.show > .btn-clear.dropdown-toggle {
  color: var(--light);
  background-color: var(--grey-1);
  border-color: var(--grey-1);
}

.tasks-btn {
  border-radius: 5rem;
}

.completed-result {
  padding: 0 1rem 0 1rem;
}

.btn-clear-container {
  padding-bottom: 2.5rem;
}

.hr {
  display: inline-block;
}

.hr:after {
  content: '';
  display: block;
  border-top: 3px solid rgb(246, 8, 68);
  /* margin-top: 0.5em; */
}

.hr_thin:after {
  content: '';
  display: block;
  border-top: 2px solid rgb(246, 8, 68);
  /* margin-top: 0.5em; */
}

h1,
h3,
h4,
h5 {
  color: rgb(246, 8, 68);
  line-height: 10pt;
}

.btn-danger.btn-sm[disabled] {
  background-color: #969b99;
  border-color: #969b99;
  opacity: 0.5;
}

div#container {
  height: 500px;
  border: 2px solid #000;
  background-color: var(--grey-0);
  overflow: auto;
}

svg#tree_display {
  background-color: var(--grey-0);
  position: relative;
  padding: 20px;
}
input[type='text'] {
  width: 60px;
  height: 33px;
  font-size: 12pt;
  margin: 0;
}

p#px {
  color: var(--light);
  display: inline;
  padding: 2px;
  margin-right: 1rem;
}

p#description {
  color: var(--light);
  display: inline;
  padding: 2px;
  font-weight: bold;
}
