<div *ngIf="messageService.docuFlag !== 'on'"class="container">
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <div style="height: 50px;"></div>
        <h5 class="col-sm-6 text-center">Tasks</h5>
        <br>
        <div *ngIf="prevIdArray">
                <div class="row">
                        <div class="col-sm-1">Number</div>
                        <div class="col-sm-2">Time</div>
                        <div class="col-sm-1">Status</div>
                        <div class="col-sm-1">Result</div>
                </div>
                <h3 class="hr_thin col-sm-6"></h3> 
                <div *ngFor='let cookieID of prevIdArray' class="row">
                        <div class="col-sm-1">{{cookieID.number}}</div>
                        <div class="col-sm-2">{{cookieID.time}}</div>
                        <div class="col-sm-1">{{cookieID.msg}}</div>
                        <div *ngIf="cookieID.msg !== 'Error' && cookieID.msg !== 'Failed'; else errormsg" class="col-sm-1">
                        <div *ngIf="started(cookieID.msg); else elseCancel">
                                <div *ngIf="downloadFlag === 0; else elseDownloading" class="col-sm-1"><button [attr.disabled]="notfinished(cookieID.msg)" (click)="downloadFiles(cookieID.id)" class="btn-danger btn-sm">Download</button></div>
                                <div *ngIf="cookieID.type === 'complete' || cookieID.type === 'tree'; else elseBlock" class="col-sm-1"><button [attr.disabled]="notfinished(cookieID.msg)" (click)="showTree(cookieID.id)" class="btn-danger btn-sm">View</button></div>
                        </div>
                        <ng-template #elseDownloading>
                                <div class="col-sm-1"><button [disabled]="!notfinished(cookieID.msg)" class="btn-danger btn-sm">Downloading</button></div>
                            </ng-template>
                        <ng-template #elseCancel>
                                <div *ngIf="cookieID.msg === 'Cancelled'; else showCancelBtn"></div>
                        </ng-template>
                        <!-- <button popover="Copied!" [popoverOnHover]="false" [popoverAnimation]="true" [popoverDismissTimeout]="1000" (click)="messageService.copyText(cookieID.id)" class="btn-outline-danger btn-sm">copy to Clipboard</button> -->
                        <ng-template #showCancelBtn>
                                <button (click)="cancelJob(cookieID.id)" class="btn-danger btn-sm">Cancel Task</button>
                        </ng-template>
                        <ng-template #elseBlock>
                                <div class="col-sm-1">{{ cookieID.type }}</div>
                        </ng-template>
                        
                        </div>
                        <ng-template #errormsg>
                                        <div class="col-sm-2">{{cookieID.id}}</div>
                        </ng-template>
                </div>
        </div>
        <!-- <div *ngIf="messageService.messagesMsg.length">  
                        <div *ngFor='let messageMsg of messageService.messagesMsg'>
                                <div *ngIf="messageMsg.msg=='Started'">
                                        {{messageMsg.number}}
                                        {{messageMsg.time}}
                                        {{messageMsg.msg}}
                                        <button (click)="downloadFiles(messageMsg.id)" class="btn-outline-danger btn-sm">Download</button>
                                        <button popover="Copied!" [popoverOnHover]="false" [popoverAnimation]="true" [popoverDismissTimeout]="1000" (click)="messageService.copyText(messageMsg.id)" class="btn-outline-danger btn-sm">copy to Clipboard</button>
                                </div>
                        </div>
                </div> -->
        <br>
        <h4 class="hr col-sm-6"></h4>
        <br>
        <!-- <div class="button-group row"> -->
        <div class="col-sm-3">
                <button class="clear border-1 border-danger btn btn-outline-danger btn-block btn-md " (click)="messageService.clear()">
                        Clear history
                </button>
        </div>
        <br>
        <h4 class="hr col-sm-6"></h4>
        <h5 class="col-sm-6 text-center">Phylogenetic Tree</h5>
                <div *ngIf = "showButton === true">
                        <br>
                        <!-- <div class="form-group row" *ngIf="router.url === '/complete' || router.url === '/tree'"> -->
                        <div class="form-group row">
                                <div class="btn-group">
                                        <div *ngIf="linearFlag === true; else showRadialBtns">
                                                <button type="button" class="btn btn-light btn-sm" data-direction = 'vertical' data-amount = '1' title = "Expand vertical spacing" (click)=vertical_increase()>
                                                <i class="fa fa-arrows-v" ></i>
                                                </button>
                                                <button type="button" class="btn btn-light btn-sm" data-direction = 'vertical' data-amount = '-1' title = "Compress vertical spacing" (click)=vertical_decrease()>
                                                <i class="fa  fa-compress fa-rotate-135" ></i>
                                                </button>
                                                <button type="button" class="btn btn-light btn-sm" data-direction = 'horizontal' data-amount = '1' title = "Expand horizonal spacing" (click)=horizontal_increase()>
                                                <i class="fa fa-arrows-h" ></i>
                                                </button>
                                                <button type="button" class="btn btn-light btn-sm" data-direction = 'horizontal' data-amount = '-1' title = "Compress horizonal spacing" (click)=horizontal_decrease()>
                                                <i class="fa  fa-compress fa-rotate-45" ></i>
                                                </button>
                                        </div>
                                        <ng-template #showRadialBtns>
                                                        <button type="button" class="btn btn-light btn-sm" data-direction = 'vertical' data-amount = '1' title = "Expand radius" (click)=radial_increase()>
                                                        <i class="fa fa-arrows-v" ></i>
                                                        </button>
                                                        <button type="button" class="btn btn-light btn-sm" data-direction = 'vertical' data-amount = '-1' title = "Shrink radius" (click)=radial_decrease()>
                                                        <i class="fa  fa-compress fa-rotate-135" ></i>
                                                        </button>
                                        </ng-template>
                                        <button type="button" class="btn btn-light btn-sm" (click)=linear()>
                                        Linear
                                        </button>
                                        <button type="button" class="btn btn-light btn-sm" (click)=radial()>
                                        Radial
                                        </button>
                                        <button type="button" class="btn btn-light btn-sm" (click)=downloadTree()>
                                        Download
                                        </button>
                                        <button class="border-1 btn btn-light btn-sm" (click)="deleteTree()">
                                                Delete Tree
                                        </button>
                                </div>
                        </div>
                </div>
        
        
              <!-- <div class="form-group" *ngIf="router.url === '/complete' || router.url === '/tree'"> -->
              <div class="form-group">
                <label *ngIf="showButton === false" class="col-sm-6 text-center"> Click the View button to show a Phylogenetic Tree here</label>  
                        <!-- <svg id="tree_display" height="900" width="900"></svg> -->
                <div id="container" class="mt-10">
                        <!-- <svg viewBox="0 0 500 500" id="tree_display" overflow="scroll"></svg> -->
                        <!-- <svg id="tree_display" viewBox="0 0 2000 2000" height="2000" width="2000"></svg> -->
                        <svg #svg xmlns="http://www.w3.org/2000/svg" id="tree_display" [attr.height.px]="heightSVG" [attr.width.px]="widthSVG"></svg>
                        <!-- <label>Height: {{heightSVG}}</label>
                        <label>Width: {{widthSVG}}</label> -->
                </div>
                <!-- <div class="mt-10">
                        <svg id="tree_display" viewbox="0 0 400 400">
                                <path d="M 200 100 l 100 200 l -200 0 Z" stroke-width="5" stroke="red"></path>
                        </svg>
                </div> -->
                <br>
                 
              </div>
</div>