<h2>Alignment Calculation</h2>
<div class="container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Tree</label>
            <select class="form-control" placeholder="tree" formControlName="tree">
                <option value="nj">nj</option>
                <option value="upgma">upgma</option>
                <option value="none" selected>none</option>
            </select>
        </div>
        <div class="form-group">
            <input type="file" name="file" (change)="onFileSelect($event)">
        </div>
        <div class="form-group input-group-lg">
            <label>task ID</label>
            <input class="form-control" placeholder="Options" formControlName="task_id">
        </div>
        <div class="form-group">
            <button class="btn btn-danger btn-block btn-lg">Create</button>
        </div>
    </form>
</div>
