<div class="container" style="margin-top: 70px;">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <h1 class="col-sm-6 text-center">Complete Calculation</h1>
    <!-- <p>
        {{today | date: "yyyy/mm/dd/ HH:mm"}}
    </p> -->
    <p class="col-sm-6 text-center caption">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <h3  class="hr col-sm-6"></h3>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="d-flex flex-column col-sm-6 form-group">
            <label>Input File</label>
            <div class="d-flex flex-row justify-content-between">
                <div class="tooltip5">
                    <i class="fa fa-question-circle" style="color:red"></i>
                    <div class="description5">説明を入力してください。 </div>
                </div>
                <div class="d-flex justify-content-end col-sm-9">
                    <label class="filename col-sm-8">
                      <span>{{filename}}</span>
                    </label>
                    <label for="browse" class="btn btn-canal-primary btn-lg">
                      Browse <input #fileInput id="browse" type="file" name="file" (change)="onFileSelect($event)" required hidden>
                    </label>
                </div>
            </div>
        <!-- <button type="button" (click)="fileInput.click()">
            <span>Upload</span>
            <input #fileInput type="file" (change)="onFileSelect($event)" required style="display:none;" />
        </button> -->
        <!-- <div class="border-2 border-danger form-group row">
            <label for="file" class="col-sm-2 col-form-label">Input File</label>
            <input type="file" name="file" (change)="onFileSelect($event)" required>
        </div> -->
        </div>
        <div *ngIf="size_flag === 1" class="form-group row">
            <label class="col-sm-2 col-form-label"></label>
            <div *ngIf="size_flag === 1" class="col-sm-4 alert alert-danger">
                File size is too big. (> 20MB)
            </div>
        </div>
        <div class="d-flex flex-column col-sm-6 form-group">
            <label for="input_type">Sequence type</label>
            <div class="d-flex flex-row justify-content-between">
                <div class="tooltip5">
                    <i class="fa fa-question-circle" style="color:red"></i>
                    <div class="description5">説明を入力してください。 </div>
                </div>
                <div class="d-flex justify-content-end col-sm-9">
                    <div class="radio radio-danger form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="input_type" formControlName="input_type" id="input_type_nuc" value="nuc" (click)="onTypeSelect('nuc')" required [checked]='true'>
                        <label for="input_type_nuc" class="form-check-label">Nucleotide</label>
                    </div>
                    <div class="radio radio-danger form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="input_type" formControlName="input_type" id="input_type_ami" value="ami" (click)="onTypeSelect('ami')" required>
                        <label for="input_type_ami" class="form-check-label">Protein</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column col-sm-6">
            <div class="form-group">
                <label for="align_method">Alignment</label>
                <div class="d-flex flex-row justify-content-between">
                    <div class="tooltip5">
                        <i class="fa fa-question-circle" style="color:red"></i>
                        <div class="description5">説明を入力してください。 </div>
                    </div>
                    <div class="d-flex justify-content-end col-sm-9">
                        <select class="border-3 border-danger form-control form-control-sm" formControlName="align_method" id="align_method" required>
                            <option value="clustalw" [selected]='true' selected>Clustal W2</option>
                            <option value="mafft">MAFFT</option>
                            <option value="None">No alignment necessary</option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- <div [hidden]="!mafftselected()" class="form-group row">
                <label for="options" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4 alert alert-success">
                    Type is automatically determined.
                </div>
            </div> -->
            <div class="d-flex flex-row justify-content-end form-group">
                <div class="d-flex flex-column justify-content-end col-sm-9">
                    <label for="options">Options</label>
                    <input [attr.disabled]="noalign()" class="border-2 border-danger form-control form-control-sm" formControlName="align_clw_opt" id="options">
                </div>
            </div>
        </div>
        <div class="d-flex flex-column col-sm-6 form-group">
            <label for="model">Genetic Difference</label>
            <div class="d-flex flex-row justify-content-between">
                <div class="tooltip5">
                    <i class="fa fa-question-circle" style="color:red"></i>
                    <div class="description5">説明を入力してください。 </div>
                </div>
                <div class="d-flex justify-content-end col-sm-9">
                    <select class="border-3 border-danger form-control form-control-sm" placeholder="model" formControlName="model" id="model" required>
                    <option *ngFor="let difference of differences" [value]="difference" [selected]='true'>{{difference}}</option>
                    </select>
                    <!-- <div class="form-check checkbox checkbox-danger">
                        <input ng-model="checked" ng-click="onCheck()" type="checkbox" class="form-check-input col-sm-2 ml-2 styled" placeholder="plusgap" formControlName="plusgap" id="plusgap" [checked]='true'>
                        <label class="pl-4 form-check-label" for="plusgap">+ Gap
                            <div class="tooltip5">
                                <i class=" fa fa-question-circle" style="color:red"></i>
                                <div class="description5">説明を入力してください。 </div>
                            </div>
                        </label>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="d-flex flex-column col-sm-6 form-group">
            <label for="gapdel">Treatment of gaps</label>
            <div class="d-flex flex-row justify-content-between">
                <div class="tooltip5">
                    <i class="fa fa-question-circle" style="color:red"></i>
                    <div class="description5">説明を入力してください。 </div>
                </div>
                <div class="d-flex justify-content-end col-sm-11">
                    <div class="radio radio-danger form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gapdel" formControlName="gapdel" id="gapdel_plusgap" value="plusgap">
                        <label class="form-check-label" for="gapdel_plusgap">+Gap</label>
                    </div>
                    <div class="radio radio-danger form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gapdel" formControlName="gapdel" id="gapdel_pair" value="pair">
                        <label class="form-check-label" for="gapdel_pair">Pairwise Deletion</label>
                    </div>
                    <div class="radio radio-danger form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gapdel" formControlName="gapdel" id="gapdel_comp" value="comp">
                        <label class="form-check-label" for="gapdel_comp">Complete Deletion</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column col-sm-6 form-group">
            <label for="gapdel">Phylogenetic tree</label>
            <div class="d-flex flex-row justify-content-between">
                <div class="tooltip5">
                    <i class="fa fa-question-circle" style="color:red"></i>
                    <div class="description5">説明を入力してください。 </div>
                </div>
                <div class="d-flex justify-content-end col-sm-9">
                    <div class="radio radio-danger form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="tree" formControlName="tree" id="tree_nj" value="nj" [checked]='true' required>
                        <label class="form-check-label" for="tree_nj">NJ</label>
                    </div>
                    <div class="radio radio-danger form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="tree" formControlName="tree" id="tree_upgma" value="upgma" required>
                        <label class="form-check-label" for="tree_upgma">UPGMA</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button *ngIf="submit_flag === 0; else elseSubmitting" class="btn btn-canal-primary btn-block btn-lg col-sm-6" type="submit" [disabled]="!form.valid">Create</button>
            <button class="border-2 border-danger btn btn-outline-danger btn-block btn-lg col-sm-6" type="button" (click)="reset()">Reset</button>
        </div>
        <ng-template #elseSubmitting>
            <button class="btn btn-danger btn-block btn-lg col-sm-5" type="submit" [disabled]="form.valid">Submitting</button>
        </ng-template>
    </form>
</div>
