<div class="container" style="margin-top: 70px;">
    <h2 class="col-sm-6 text-center">Complete Calculation</h2>
    <h3  class="hr col-sm-6"></h3> 
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="border-2 border-danger form-group row">
            <label for="file" class="col-sm-2 col-form-label">Input File</label>
            <!-- <label for="file" class="col-sm-2 col-form-label"></label> -->
            <input type="file" name="file" (change)="onFileSelect($event)">
        </div>

        <!-- <div class="form-group row">
            <label for="input_type" class="col-sm-2 col-form-label">Type</label>
            <select class="form-control form-control-sm col-sm-5" placeholder="input_type" formControlName="input_type" id="input_type">
                <option value="none" selected>none</option>
                <option value="nuc">Nucleotide</option>
                <option value="ami">Protein</option>
                
            </select>
        </div> -->
        <div class="form-group row">
            <label for="input_type" class="col-sm-2 col-form-label">Type</label>
            <div class="radio radio-danger form-check form-check-inline col-sm-2">
                <input class="form-check-input" type="radio" name="input_type" formControlName="input_type" id="input_type" value="nuc">
                <label class="form-check-label" for="input_type">Nucleotide</label>
            </div>
            <div class="radio radio-danger form-check form-check-inline col-sm-2">
                <input class="form-check-input" type="radio" name="input_type" formControlName="input_type" id="input_type" value="ami">
                <label class="form-check-label" for="input_type">Protein</label>
            </div>
        </div>

        <div class="form-group row">
            <label for="align_method" class="col-sm-2 col-form-label">Alignment</label>
            <select class="border-3 border-danger form-control form-control-sm col-sm-4" formControlName="align_method" id="align_method">
                <option value="none" selected>none</option>
                <option value="clustalw">Clustal W2</option>
                <option value="mafft">MAFFT</option>
            </select>
        </div>
        <div class="form-group row">
            <label for="options" class="col-sm-2 col-form-label"></label>
            <!-- <label class="pr-2">Options</label> -->
            <input class="border-2 border-danger form-control form-control-sm col-sm-4" placeholder="Options" formControlName="align_clw_opt" id="options">
        </div>
        <div class="form-group row">
            <label for="model" class="col-sm-2 col-form-label">Difference</label>
            <select class="border-3 border-danger form-control form-control-sm col-sm-2" placeholder="model" formControlName="model" id="model">
                <option value="P">P</option>
                <option value="PC">PC</option>
                <option value="JS">JS</option>
                <option value="K2P">K2P</option>
                <option value="none" selected>none</option>
            </select>
            <div class="form-check checkbox checkbox-danger">
                <!-- <input type="checkbox" [formControlName]="i"> -->
                <input type="checkbox" class="form-check-input col-sm-2 ml-2 styled" placeholder="plusgap" formControlName="plusgap" id="plusgap">
                <label class="pl-4 form-check-label" for="plusgap">+ Gap</label>
            </div>
        </div>
        <div class="form-group row">
            <label for="gapdel" class="col-sm-2 col-form-label">Gap Deletion</label>
            <div class="radio radio-danger form-check form-check-inline col-sm-2">
                <input class="form-check-input" type="radio" name="gapdel" formControlName="gapdel" id="gapdel" value="comp">
                <label class="form-check-label" for="gapdel">Complete Deletion</label>
            </div>
            <div class="radio radio-danger form-check form-check-inline col-sm-2">
                <input class="form-check-input" type="radio" name="gapdel" formControlName="gapdel" id="gapdel" value="pair">
                <label class="form-check-label" for="gapdel">Pairwise Deletion</label>
            </div>
        </div>
        
        <div class="form-group row">
            <label for="gapdel" class="col-sm-2 col-form-label">Tree</label>
            <div class="radio radio-danger form-check form-check-inline col-sm-2">
                <input class="form-check-input" type="radio" name="tree" formControlName="tree" id="tree" value="nj">
                <label class="form-check-label" for="tree">NJ</label>
            </div>
            <div class="radio radio-danger form-check form-check-inline col-sm-2">
                <input class="form-check-input" type="radio" name="tree" formControlName="tree" id="tree" value="upgma">
                <label class="form-check-label" for="tree">UPGMA</label>
            </div>
        </div>
        
        
        <div class="form-group row">
            <button class="btn btn-danger btn-block btn-lg col-sm-5" type="submit">Create</button>
            <button class="border-2 border-danger btn btn-outline-danger btn-block btn-lg col-sm-1" type="button" (click)="form.reset()">Reset</button>
        </div>
    </form>
</div>
