<div class="container" style="margin-top: 70px;">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <h2 class="col-sm-6 text-center">Distance Matrix Calculation</h2>
    <h3 class="hr col-sm-6"></h3> 
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Input File
                <div class="tooltip5">
                    <i class="fa fa-question-circle" style="color:red"></i>
                    <div class="description5">説明を入力してください。 </div>
                </div>
            </label>
            <label class="filename col-sm-3">
                    <span>{{filename}}</span> 
            </label>
            <label for="browse" class="btn btn-danger btn-lg col-sm-1">
                    Browse <input id="browse" type="file" name="file" (change)="onFileSelect($event)" required hidden>
            </label>
        </div>
        <!-- <div class="form-group">
            <input type="file" name="file" (change)="onFileSelect($event)">
        </div> -->

        <!-- <div class="form-group row">
            <label class="col-sm-2 col-form-label">OR</label>
            <input class="border-3 border-danger form-control form-control-sm col-sm-4" placeholder="task ID" formControlName="task_id" id="task_id">
        </div> -->

        <!-- <div class="form-group input-group-lg">
            <label>task ID</label>
            <input class="form-control" placeholder="Options" formControlName="task_id">
        </div> -->

        <div class="form-group row">
            <label for="input_type" class="col-sm-2 col-form-label">Type
                <div class="tooltip5">
                    <i class="fa fa-question-circle" style="color:red"></i>
                    <div class="description5">説明を入力してください。 </div>
                </div>
            </label>
            <div class="radio radio-danger form-check form-check-inline col-sm-2">
                <input class="form-check-input" type="radio" name="input_type" formControlName="input_type" id="input_type" value="nuc">
                <label class="form-check-label" for="input_type">Nucleotide</label>
            </div>
            <div class="radio radio-danger form-check form-check-inline col-sm-2">
                <input class="form-check-input" type="radio" name="input_type" formControlName="input_type" id="input_type" value="ami">
                <label class="form-check-label" for="input_type">Protein</label>
            </div>
        </div>

        <!-- <div class="form-group">
            <label>input_type</label>
            <select class="form-control" placeholder="input_type" formControlName="input_type">
                <option value="nuc">nuc</option>
                <option value="ami">ami</option>
                <option value="none" selected>none</option>
            </select>
        </div> -->

        <div class="form-group row">
            <label for="model" class="col-sm-2 col-form-label">Genetic Difference
                <div class="tooltip5">
                    <i class="fa fa-question-circle" style="color:red"></i>
                    <div class="description5">説明を入力してください。 </div>
                </div>
            </label>
            <select class="border-3 border-danger form-control form-control-sm col-sm-2" placeholder="model" formControlName="model" id="model">
                <option value="P">P</option>
                <option value="PC">PC</option>
                <option value="JS">JS</option>
                <option value="K2P">K2P</option>
                <option value="none" selected>none</option>
            </select>
            <div class="checkbox checkbox-danger form-check">
                <!-- <input type="checkbox" [formControlName]="i"> -->
                <input type="checkbox" class="form-check-input col-sm ml-2" placeholder="plusgap" formControlName="plusgap" id="plusgap">
                <label class="pl-4 form-check-label" for="plusgap">+ Gap
                    <div class="tooltip5">
                        <i class=" fa fa-question-circle" style="color:red"></i>
                        <div class="description5">説明を入力してください。 </div>
                    </div>
                </label>
            </div>
        </div>

        <!-- <div class="form-group">
            <label>model</label>
            <select class="form-control" placeholder="model" formControlName="model">
                <option value="P">P</option>
                <option value="PC">PC</option>
                <option value="JS">JS</option>
                <option value="K2P">K2P</option>
                <option value="none" selected>none</option>
            </select>
        </div>
        <div class="form-group">
            <label>Plusgap</label>
            <input type="checkbox" class="form-control" placeholder="plusgap" formControlName="plusgap">
        </div> -->

        <div class="form-group row">
            <label for="gapdel" class="col-sm-2 col-form-label">Gap Deletion
                <div class="tooltip5">
                    <i class="fa fa-question-circle" style="color:red"></i>
                    <div class="description5">説明を入力してください。 </div>
                </div>
            </label>
            <div class="radio radio-danger form-check form-check-inline col-sm-2">
                    <input [attr.disabled]="plusgapselected()" class="form-check-input" type="radio" name="gapdel" formControlName="gapdel" id="gapdel" value="pair">
                    <label class="form-check-label" for="gapdel">Pairwise Deletion</label>
                </div>
            <div class="radio radio-danger form-check form-check-inline col-sm-2">
                <!-- <input [attr.disabled]="plusgapselected()" class="form-check-input" type="radio" name="input_type" formControlName="input_type" id="input_type" value="nuc"> -->
                <input [attr.disabled]="plusgapselected()" class="form-check-input" type="radio" name="gapdel" formControlName="gapdel" id="gapdel" value="comp">
                <label class="form-check-label" for="gapdel">Complete Deletion</label>
            </div>
        </div>

        <!-- <div class="form-group">
            <label>gapdel</label>
            <select class="form-control" placeholder="gapdel" formControlName="gapdel">
                <option value="comp">comp</option>
                <option value="pair">pair</option>
                <option value="none" selected>none</option>
            </select>
        </div> -->
        
        <div class="form-group row">
            <button class="btn btn-danger btn-block btn-lg col-sm-5" type="submit" [disabled]="!form.valid">Create</button>
            <button class="btn btn-outline-danger btn-block btn-lg col-sm-1" type="button" (click)="form.reset()">Reset</button>
        </div>
    </form>
</div>
