:root {
  --color-primary: #d11120;
  --color-primary-75: #d64651;
  --color-primary-50: #da7a82;
  --color-primary-25: #e0b0b4;
  --dark: #101820;
  --grey-3: #4a4a4a;
  --grey-2: #9b9b9b;
  --grey-1: #cccccc;
  --grey-0: #f3f3f3;
  --light: #ffffff;
  --dark-opacity-03: rgb(0, 0, 0, 0.3);
  --light-opacity-05: rgb(255, 255, 255, 0.5);
  --light-opacity-02: rgb(255, 255, 255, 0.2);
}

body {
  background-image: url(./assets/bg_white.png);
  background-size: cover;
  font-family: 'Lato', 'arial';
}

/* copy from https://github.com/rambaut/figtree.js/blob/master/index.html */
text {
  font-family: 'helvetica-neue', 'helvetica', 'sans-serif';
  font-size: 14pt;
  font-weight: 300;
}

.branch {
  fill: none;
  stroke: #541753;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.branch.hovered {
  stroke-width: 4px;
}

.external-node .node-shape:not(.rough) {
  fill: var(--grey-2);
}

.external-node .node-shape.hovered {
  stroke: rgb(0, 0, 0);
}
.external-node .node-shape.unselected {
  fill: #22b680;
}
.external-node .node-shape.selected {
  fill: #edb23b;
}

.internal-node .node-shape {
  fill: var(--color-primary);
}
.internal-node .node-shape.hovered {
  stroke: rgb(0, 0, 0);
}

#root .node-shape {
  fill: #e31e58;
}

.node-background {
  fill: rgb(255, 255, 255);
  /*stroke: rgb(255, 255, 255);*/
  /*stroke-width: 1;*/
}

.node-label {
  font-family: 'helvetica-neue', 'helvetica', 'sans-serif';
  font-size: 14pt;
  font-weight: 300;
}

.trend-line {
  stroke: rgb(0, 0, 0);
  stroke-width: 2px;
  stroke-linecap: round;
}

.axis text {
  font-family: 'helvetica-neue', 'helvetica', 'sans-serif';
  font-size: 12pt;
  font-weight: 300;
}

.axis-label text {
  font-family: 'helvetica-neue', 'helvetica', 'sans-serif';
  font-size: 12pt;
  font-weight: bold;
}

.node-label.support {
  font-size: 10pt;
}

.branch-label.length {
  display: none;
  font-size: 8pt;
}

#tooltip {
  background: #f6eeca;
  border: 1px solid #005c68;
  color: #005c68;
  border-radius: 5px;
  padding: 5px;
  font-family: 'helvetica-neue', 'helvetica', 'sans-serif';
  font-size: 12pt;
  font-weight: 300;
}
