:root {
  --color-primary: #D11120;
  --color-primary-75: #D64651;
  --color-primary-50: #DA7A82;
  --color-primary-25: #E0B0B4;

  --dark: #101820;
  --grey-3: #4A4A4A;
  --grey-2: #9B9B9B;
  --grey-1: #CCCCCC;

  --light: #FFFFFF;
  --light-opacity-05: rgb(255,255,255,0.5);
}
