.hr {
  display: inline-block;
}
.hr:after {
  content: '';
  display: block;
  border-top: 3px solid rgb(246, 8, 68);
  /* margin-top: 0.5em; */
}

label, h1, h2, h3 {
  color: rgb(246, 8, 68);
}

.border-3 {
  border-width:3px !important;
}

.border-2 {
  border-width:2px !important;
}

#toolbar {
  display: flex;
  justify-content: space-between;
  width: 550px;
}